<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 "
    id="sidenav-main">
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link  " href="/home">
                    <span class="nav-link-text ms-1">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/data">
                    <span class="nav-link-text ms-1">Data Dishes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/dataTable">
                    <span class="nav-link-text ms-1">Data Table</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/dataCategory">
                    <span class="nav-link-text ms-1">Data Category</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/dataTimeline">
                    <span class="nav-link-text ms-1">Data Timeline</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/addMenu">
                    <span class="nav-link-text ms-1">Add Dishes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/addTable">
                    <span class="nav-link-text ms-1">Add Table</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/addCategory">
                    <span class="nav-link-text ms-1">Add Menu Category</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/addTimeline">
                    <span class="nav-link-text ms-1">Add Timeline</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/booking">
                    <span class="nav-link-text ms-1">Booking</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/raying">
                    <span class="nav-link-text ms-1">Rating</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/ratingFood">
                    <span class="nav-link-text ms-1">Rating Food</span>
                </a>
            </li>
            <li class="nav-item mt-3">
                <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account pages</h6>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/profile">
                    <span class="nav-link-text ms-1">Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/userInformation">
                    <span class="nav-link-text ms-1">User Information</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="wrapper">
        <div id="body" class="active">
            <div class="content">
                <div class="container">
                    <div class="page-title">
                        <h3>Category</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <form accept-charset="utf-8" action="/editCategoryById/{{_id}}" method="post" enctype="multipart/form-data">
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Name</label>
                                            <input type="text" name="name" placeholder="" class="form-control" value="{{itemCategory.name}}">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Active</label>
                                            <select class="form-select" aria-label="Default select example"
                                                name="isActive">
                                                <option value="true" {{#if itemCategory.isActive}}selected{{/if}}>True
                                                </option>
                                                <option value="false" {{#unless itemCategory.isActive}}selected{{/unless}}>
                                                    False</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Image</label>
                                            <input class="form-control" name="image" type="file" id="formFile1">
                                            <small class="text-muted">The image must have a maximum size of 1MB</small>
                                        </div>
                                        <div class="mb-3">
                                            <input type="submit" class="btn btn-primary">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>